
.jumbotron.jumbotron-fluid.search{
    background-image: url("../img/banner-dog.png");
    background-color: whitesmoke;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 50vh;
}

.jumbotron.jumbotron-fluid.search .form{
    background-color: rgb(182, 193, 94);
    border-radius: 20px;
    padding: 2em;
    color: white;
    font-weight: 600;
}

.card img{
    height:250px;
}
.card{
    font-size: 0.9em;
}
.card h4{
    font-size: 1.5em;
} 
.btn-group button, .btn-group a{
    font-size: 1em;
}
.btn-group button{
    color:#1f1f1f;
}
.d-flex .card{
    width:30%;
}
@media only screen and (max-width: 1040px) {
    .d-flex .card{
    width:45%;
    }
}
@media only screen and (max-width: 620px) {
    .d-flex .card{
    width:90%;
    }
}