*.env
db.sqllite3
*.pyc
lib/
.env/
env/
env3/
venv/
/.idea/
*.sqlite3
/static/
/media/
.project
.pydevproject
.settings/
debug.log
*~
debug.log
django.log
tmp/
db-data
htmlcov/
.coverage
.pytest_cache/
.node_modules/
node_modules/
package-lock.json
.vscode/