{% extends 'base.html' %}

{% block conteudo %}
    <section class="jumbotron bannerIndex">
        <div class="container text-lg">
            <h1 class="display-5">Precisando de ajuda para</h2>
            <h1 class="display-3">Doar e Adotar?</h1>
            <h1 class="display-5">Nós te ajudamos!</h2>
            <p class="p-4">
                <a href="cadastro" class="btn btn-primary">
                Cadastrar
                <i class="fa fa-pencil-square-o"></i>
                </a>
            </p>
        </div>
    </section>
    <section class="jumbotron bannerText">
      <div class="container text-lg-center">
        <h2>Acha que sua família está pronta para ter um novo membro?</h2>
      </div>
    </section>
{% endblock %}


{% block extra_scripts %}
    <script>
      $(document).ready(function () {

        if (window.location.href.indexOf('#login') != -1) {
          $('#modal-login').modal('show');
        }

      });
    </script>
{% endblock %}
