{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
    <div class="jumbotron jumbotron-fluid search">
        <div class="container form" style="margin-top: 8em;">
            <h1 class="display-5 text-center">Procure o seu novo amigão!</h1>
            <div class="container">
                <form>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group row">
                                <label for="">Espécie:</label>
                                <select class="form-control" name="" id="">
                                <option></option>
                                <option></option>
                                <option></option>
                                </select>
                            </div>
                            <div class="form-group row">
                            <label for="">Porte:</label>
                            <select class="form-control" name="" id="">
                                <option></option>
                                <option></option>
                                <option></option>
                            </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-5">
                            <div class="form-group row">
                            <label for="">Estado</label>
                            <select class="form-control" name="" id="">
                                <option></option>
                                <option></option>
                                <option></option>
                            </select>
                            </div>
                            <div class="form-group row">
                            <label for="">Cidade</label>
                            <select class="form-control" name="" id="">
                                <option></option>
                                <option></option>
                                <option></option>
                            </select>
                            </div>
                        </div>
                </form>
            </div>        
        </div>
    </div>
    <div class="container">
        <div class="d-flex flex-wrap justify-content-center" style="margin: 1em;">
            
            {% with '1 2 3 4 5 6' as list %}
            {% for i in list.split %}
                <div class="card shadow-sm p-1" style="margin: 1em; margin-bottom: 2em;">
                    <img class="card-img-top " style="object-fit:cover; height: 250px;" src="static/img/{{i}}.png"/>
                    <div class="card-body">
                        <h4 class="card-title">
                        
                        {% if i == 1 %}
                            Fofuxa
                        {% elif i == 2 %}
                            Pitoco
                        {% elif i == 3 %}
                            Floquison
                        {% elif i == 4 %}
                            Seduzildo
                        {% elif i == 5 %}
                            Pofe
                        {% else %}
                            Pêpa
                        {% endif %}
                        
                        </h4>
                        <p class="card-text">Descrição do bixinho.</p>
                        <div class="d-flex justify-content-between align-items-center flex-column">
                            <div class="btn-group">
                                <a href="#" style="background-color: #814DA2; border: #814DA2" class="btn btn-danger" id = ''>Ver Perfil</a>
                                <a href="#" style="background-color: rgb(182, 193, 94); border:rgb(182, 193, 94); color:white" class="btn btn-warning" id = ''>Adotar</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% endwith %}
        </div>
    </div>
{% endblock %}