{% extends 'base.html' %}

{% block conteudo %}
    <section class="jumbotron register">
        <div class="container">
            <div class="row" style="">
                <div class="col-md-3">
                </div>
                <div class="col-md-6 formulario p-4">
                    {% load crispy_forms_tags %}

                    <h7 class="font-weight-bold font-sm" id="exampleModalLabel" style="color:#773295;">Cadastre-se gratuitamente e comece a aproveitar as vantagens da nossa plataforma!</h7>
                    <style>
                        .form-group input, .form-group select{
                            font-size: 1em;
                        }
                        .form-group select{
                            border: rgb(206, 212, 218);
                            border-radius: .25rem;
                            padding: .375rem .75rem;
                        }
                        .btn-reg{
                            width:80%;
                            background-color:#814DA2;
                            border-color: #814DA2;
                            border-width: 0.2em;
                            font-weight: 600;
                        }
                        .btn-reg:hover{
                            background-color:whitesmoke;
                            border-color: #814DA2;
                            color: #814DA2;
                        }
                    </style>

                    <form name="signup" method="post" style="margin-top: 1em;">
                        {{ signup_form|as_crispy_errors }}

                        {% csrf_token %}

                        {{ signup_form.username | as_crispy_field }}

                        {{ signup_form.password1 | as_crispy_field }}

                        {{ signup_form.password2 | as_crispy_field }}

                        <div class="form-group text-center">
                            {{ signup_form.birthdate.label_tag }}
                            <span class="asteriskField">*</span>
                            <div class="center" style='width:100%'>
                                {{ signup_form.birthdate }}
                            </div>
                        </div>

                        {{ signup_form.telephone | as_crispy_field }}


                        <center>
                            <div class="form-group">
                                {{ signup_form.terms_agree | as_crispy_field }}
                            </div>
                            <button type="submit" class="btn btn-primary p-2 btn-reg">Cadastrar</button>
                            <br />
                            <br />
                            <span class="help-block text-sm">* Campos obrigatórios</span>
                        </center>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
